html {
	scroll-behavior: smooth;
}
body {
	margin:0px;
	padding:0px;
	font-family: Calibri, sans-serif;
}

.header {
	border-bottom: 2px solid #dc0101;
	background-color: #fefefe;
}

.column {
	/* border: 1px solid black; */
	width: 1000px;
	margin: 0px auto;
}

.page .column {
	height:100vh;
}

#logo-i-social {
	display:flex;
}

#logo-holder {
	flex-grow: 1;
}

#social-holder {
	flex-grow: 1;
	text-align: right;
}

#titel-holder {
	flex-grow: 1;
	text-align: center;
}

#titel-holder h1 {
	margin-top: 0;
	margin-bottom: 0;
}

#social-holder a {
	text-decoration: none;
}

#social-holder a img {
	height: 24px;
	width: 24px;
	margin:5px;
}
#main-menu {
	display:flex;
}
#main-menu ul {
	flex-grow: 1;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#main-menu li {
	flex-grow: 1;
}

#main-menu a {
	flex-grow:1;
	text-align: center;
	display: block;
	padding: 10px 0px;
	text-decoration: none;
	color: #dc0101;
	transition: 500ms;
}

#main-menu a:hover,
#main-menu a.active{
	background: #dc0101;
	color: #ffffff;
}

#pocetna {
	color:#ffffff;
  text-align: center;
  background-image:
  url("https://images.pexels.com/photos/2774556/pexels-photo-2774556.jpeg?cs=srgb&dl=pexels-luis-quintero-2774556.jpg&fm=jpg");
	background-size: cover;
	position: relative;
  background-attachment:fixed;
}

#pocetna {
	margin-top:0px;
	padding-top:calc(50vh - 125px);
	font-size:50px;
}
.dark-box {
	background-color: #05050590;
	border:1px solid #ffffff;
	font-size:25px;
	padding:20px;
}
.dark-box ul {
	list-style-type: none;
}
.side-box {
	background-color: #05050590;
	border:1px solid #ffffff;
	font-size:25px;
	padding: 40px;
}
#column-grid {
	display: grid;
	grid-template:"grid-a grid-b" ; 
	align-content: space-between;
	justify-content: space-between;
	grid-template-columns: 70% 25%;
}
.dark-box {
	grid-area: "grid-a";
}
.side-box {
	grid-area: "grid-b";
}
.side-box-button {
	margin: 20px;
}

.footer {
	border-top: 2px solid #dc0101;
	background-color: #fefefe;
	font-size:13px;
}
.footer > .column {
	display: flex;
}
.footer .footer-column {
	flex-grow: 1;
	flex-basis: 0;
	padding-top:20px;
	padding-bottom:40px;
}
.align-center {
	text-align:center;
}
.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}
.red-text {
	text-decoration: none;
	color: #dc0101;
	font-weight: bold;
}
.red-text:hover{
	text-decoration: underline;
}
.dark-box h4 {
	margin-top: 0;
	margin-bottom: 0;
}
.my-custom-scrollbar {
	position: relative;
	height: 300px;
	overflow: auto;
	}
	.table-wrapper-scroll-y {
	display: block;
	}
	#column-grid-adm .dark-box {
		background-color: #05050590;
		border:1px solid #ffffff;
		font-size:15px;
		padding:10px;
	}
	#column-grid-adm {
		display: grid;
		grid-template-areas:"grid-a";
		grid-template-columns: 100%;
		align-content: space-between;
		justify-content: space-between;
		padding: 10px;
	}
@media (max-width: 1000px) {

	.column {
		/*border: 1px solid black;*/
		width: auto;
		margin: 0px auto;
	}

	#logo-i-social {
		flex-direction: column;
	}
	#social-holder {
		text-align: center;
	}
	#main-menu ul {
		flex-direction: column;
	}
	.footer > .column {
		flex-direction: column;
	}
	.align-left {
		text-align:center;
	}
	.align-right {
		text-align:center;
	}
	#column-grid {
		display: grid;
		grid-template-areas:"grid-a"
					        "grid-b";
		grid-template-columns: 100%;
		align-content: space-between;
		justify-content: space-between;
        padding: 20px;
	}
	#pocetna {
	margin-top:0px;
	padding-top:0px;
	font-size:30px;
    }  
		.page .column {
		height:min-content;
	}
		.dark-box {
		height:min-content;
		margin-bottom: 10px;
  }
  .footer .footer-column {
    padding-top: 5px;
    padding-bottom: 0px;
  }
  .footer {
  margin-bottom: 20px;
  }
}
